$color-primary: #8f57ff;
$color-secondary: #ff8f57;
$color-tertiary: #7e5cbc;
$color-opacity-primary: #f1e8ff;
$color-success: #55e3be;
$color-warning: #fadb4c;
$color-error: #ff6274;
$color-blue: #3bb7f8;
$color-grey-2: #fcfcfd;
$color-grey-3: #f4f5f6;
$color-grey-4: #e6e8ec;
$color-grey-5: #b1b5c3;
$color-grey-6: #777e90;
$color-grey-7: #353945;
$color-grey-8: #23262f;
$color-grey-9: #b1b5c3;
$color-grey-10: #21252e;
$color-grey-11: #5f6573;
$color-green-1: #58bea8;
$color-neutral-black: #090909;
$color-neutral-white: #ffffff;
$color-states-hover: #431ee8;
$color-background-black: #141416;
$color-background-black-1: #080808;
$color-brown-1: #503c38;
$color-black-1: #1a1c21;
