.app-dropdown {
  .ant-dropdown-menu {
    overflow-y: scroll !important;
    max-height: 300px !important;
    background-color: var(--color-neutral-2) !important;
  }
  .ant-dropdown-menu-item {
    padding: 8px 10px !important;
    color: var(--color-neutral-9) !important;
  }
  .ant-dropdown-menu-item:hover {
    background-color: var(--color-neutral-3) !important;
  }
  .ant-dropdown-menu {
    padding: 6px !important;
  }
  .ant-dropdown-menu-title-content {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: -0.16px;
  }
}
.ant-dropdown-menu-item.ant-dropdown-menu-item-selected.ant-dropdown-menu-item-only-child {
  background-color: var(--color-neutral-3) !important;
  .ant-dropdown-menu-title-content {
    color: var(--color-primary-main) !important;
  }
}

.header-menu-items-more {
  .ant-dropdown-menu {
    min-width: 180px !important;
  }
  .ant-dropdown-menu-item:hover {
    background-color: var(--color-neutral-1) !important;
  }
}
