.ant-checkbox .ant-checkbox-inner {
  border-color: var(--color-neutral-5) !important;
  background-color: var(--color-container-primary) !important ;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--color-fill-success) !important;
  border-color: var(--color-neutral-5) !important;
}
.ant-checkbox-wrapper-checked .checkbox-label {
  color: var(--color-text-primary-2) !important;
  font-weight: 700;
}

.ant-checkbox.ant-checkbox-disabled .ant-checkbox-inner {
  border-color: var(--color-text-disable) !important;
  background-color: var(--color-stroke-container-primary) !important ;
}
