@import "@/assets/scss/responsive.scss";

.date-picker-modal {
  .ant-form-item {
    flex: 1;
  }

  .ant-picker {
    width: 100%;
    &:focus {
      box-shadow: none !important;
    }

    input {
      color: var(--color-neutral-9);
      &::placeholder {
        color: var(--color-neutral-9);
      }
    }
  }
  .ant-picker-outlined {
    background: transparent !important;
    border: none;
    border-radius: 0;
  }

  .ant-picker-status-error {
    border-color: transparent !important;
  }

  .ant-picker-suffix {
    svg {
      filter: brightness(0) saturate(100%) invert(51%) sepia(0%) saturate(3955%)
        hue-rotate(116deg) brightness(93%) contrast(96%);
    }
  }
}
